    <!-- Capa -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <h1 class="text-uppercase mb-0">{{subtitulo}}</h1><br><br>
        {{#each lista_personagens}}
        <h2 class="font-weight-light mb-0"><a class="text-white" href="/{{this}}">{{this}}</a></h2>
        {{/each}}
      </div>
    </header>