<div class="page-header">
	<h3>Sobre</h3>
		Aplicativo criado com <b>Node.JS</b> para registro/controle de personagens de RPG, sistema SiUR.
		<li>Autor: @bwb0de 
		<li>email: danielc@unb.br  
		<li>git: <a href='https://github.com/bwb0de'>https://github.com/bwb0de</a>
</div> 